:root {
  --dark-color-a: #667aff;
  --dark-color-b: #7386ff;
  --light-color: #e6e9ff;
  --success-color: #5cb85c;
  --error-color: #d9534f;
}

body {
  background-color: #f7f8fc;
  min-height: 100vh;
}

.main-card {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  margin: 0 auto;
  box-shadow: 0 5px 8px #e9ecf9;
  border-radius: 5px;
}

.main-card img,
.img-icon {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
  object-fit: contain;
}

.main-card h5 {
  margin-bottom: 10px;
  font-weight: bold;
}

.main-card a {
  display: none;
  animation: fade-in 0.5s;
}

.main-card:hover a {
  display: block;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Chat Page */

#topic-name {
  display: flex;
  align-items: center;
}

#topic-name img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.chat-container {
  background: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: hidden;
}

.chat-header {
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chat-main {
  display: grid;
  grid-template-columns: 1fr 3fr;
  min-height: 500px;
}

@media (max-width: 992px) {
  .chat-main {
    grid-template-columns: 1fr 2fr;
  }
}

@media (max-width: 735px) {
  .chat-main {
    grid-template-columns: 1fr;
  }
}

.chat-sidebar {
  color: #fff;
  padding: 20px 20px 60px;
  overflow-y: auto;
  max-height: 500px;
}

.chat-sidebar h2 {
  font-size: 20px;
  background: rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 20px;
}

.chat-sidebar h3 {
  margin-bottom: 15px;
}

.chat-sidebar ul {
  max-height: 300px;
  overflow-y: auto;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

ul#users li,
ul#repos li {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
}

ul#users li a,
ul#repos li a {
  display: flex;
  align-items: center;
  word-break: break-word;
}

.chat-sidebar ul li {
  padding: 10px 0;
}

.chat-messages {
  padding: 30px;
  max-height: 500px;
  overflow-y: auto;
}

.chat-messages .message {
  padding: 10px;
  margin-bottom: 15px;
  background-color: var(--light-color);
  border-radius: 5px;
  overflow-wrap: break-word;
}

.chat-messages .message .meta {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 7px;
}

.chat-messages .message .meta span {
  color: #777;
}

.chat-form-container {
  padding: 20px 30px;
  background-color: var(--dark-color-a);
}

.chat-form-container form {
  display: flex;
}
